@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('/src/assets/fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('/src/assets/fonts/Montserrat-SemiBold.ttf');
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('/src/assets/fonts/Montserrat-Bold.ttf');
}